apiVersion: apps/v1
kind: Deployment
metadata:
  name: moingster
spec:
  replicas: 3
  selector:
    matchLabels:
      name: moingster
  template:
    metadata:
      labels:
        name: moingster
    spec:
      serviceAccountName: moingster
      containers:
        - name: moingster
          # Replace this with the built image name
          image: quay.io/woohhan/moingster
          command:
          - moingster
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "moingster"
